:root {
	--cell-width: 80px;
	--cell-height: 80px;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background: #312e2b;
}

.board {
	height: calc(var(--cell-height) * 8);
	width: calc(var(--cell-width) * 8);
	display: flex;
	flex-wrap: wrap;
}

.cell {
	width: var(--cell-width);
	height: var(--cell-height);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.cell img {
	width: 48px;
	height: 48px;
	position: relative;
}

.cell span {
	position: absolute;
	bottom: 2px;
	right: 2px;
}

.white {
	background-color: skyblue;
	color: #000;
}

.black {
	background-color: rgb(105, 105, 105);
	color: #fff;
}
